/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";


html, body{
    font-size: 100%;
	background:	#fff;
	font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.header {
    background: #1d1811  !important;
}

.navbar-default {
    background: #1d1811;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f89406;
}

.navbar-nav > li > a {
    padding: 30px 20px 0;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #F89422;
    background-color: transparent;
}

.navbar {
    margin-bottom: 0;
}

.dropdown-menu {
    min-width: 130px;
    padding:10px 0;
    margin: 0;
    background-color: #EC6E2D;
}

.dropdown-menu {
    top: 155%;
}

nav {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	.navbar-brand {
		a {
			color: #fff !important;
			&:hover {
				text-decoration: none;
			}
		}
	}
	a.active{
		color: green !important;
	}
}

#entries {
	margin: 0 auto;
	width: 100%;
	.box {
		margin: 10px;
		width: 350px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
		border-radius: 7px;
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
		}
		h4 {
			
			margin: 0;
			padding: 25px 10px;
			a {
				color: #474747;
				&:hover {
				text-decoration: none;
				
			  }
			}
		}
		
		.user {
			font-size: 12px;
			border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
		}
		
	}
}

.navbar-brand {
    float: left;
    height: 80px;
    padding: 31px 0 0;
    font-size: 3.5em;
    line-height: 20px;
    color: #fff !important;
    font-family: 'Alex Brush', cursive;
}


nav .navbar-nav {
	margin: 0 0 0 13em;
}

.footer-bottom{
	padding:2em 0;
	background:#000;
	text-align:center;
}

.footer-bottom p{
	font-size:14px;
	color:#817F7F;
	margin:0;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }