<div class="box panel panel-default">
			<div class="panel-heading">
				<img src="<%= youtube_all_time.image_url %>">
			</div>
			<div class="panel-body">
				<h4><%= link_to youtube_all_time.title.gsub(/&#34;/, '"'), youtube_all_time.link %></h4>
			</div>	
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-6">
						<%= youtube_all_time.time %>
					</div>
					<div class="col-md-6">
						<h5><%= youtube_all_time.viewcount %></h5>
					</div>
				</div>
			</div>
</div>
